<%provide(:title, '艺术教学')%>
	<!--主体 start{-->
	<div class="main">
        <!--内容 start{-->
        <div class="wid">
            <!--当前位置 start{-->
            <div class="weizhi">当前位置：<a href="">艺术教学</a> > 师资队伍</div>
            <!--}当前位置 end-->
            <!--主体内容 start{-->
            <div class="left">
            	<ul class="ul_menu">
                	<li><a href="">学科简介</a></li>
                	<li><a href="">院系介绍</a></li>
                	<li class="on"><a href="">师资队伍</a></li>
                	<li><a href="">各系教师</a></li>
                	<li><a href="">课程设置</a></li>
                	<li><a href="">特色专业</a></li>
                	<li><a href="">学生作品</a></li>
                </ul>
            </div>
            <div class="right">
            	<ul class="ul_tech">
                	<li class="on">教授</li>
                	<li>副教授</li>
                	<li>讲师</li>
                	<li>助教</li>
                </ul>
                <div class="tab_div show">
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">B</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                </div>
                <div class="tab_div">
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">B</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                </div>
                <div class="tab_div">
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">B</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                </div>
                <div class="tab_div">
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">B</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                	<h3 class="zm">A</h3>
                    <ul class="ul_teacher">
                    	<li><a href="">艾中信</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常任侠</a></li>
                    	<li><a href="">常沙娜</a></li>
                    	<li><a href="">常沙娜</a></li>
                    </ul>
                </div>
            </div>
            <!--}主体内容 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
