<%provide(:title, '艺术教学')%>

	<!--主体 start{-->
	<div class="main">
        <!--内容 start{-->
        <div class="wid">
            <!--当前位置 start{-->
            <div class="weizhi">当前位置：<a href="">艺术教学</a> > 师资队伍</div>
            <!--}当前位置 end-->
            <!--主体内容 start{-->
            <div class="left">
            	<ul class="ul_menu">
                	<li><a href="">学科简介</a></li>
                	<li><a href="">院系介绍</a></li>
                	<li class="on"><a href="">师资队伍</a></li>
                	<li><a href="">各系教师</a></li>
                	<li><a href="">课程设置</a></li>
                	<li><a href="">特色专业</a></li>
                	<li><a href="">学生作品</a></li>
                </ul>
            </div>
            <div class="right">
            	<h2 class="name">陈琦</h2>
                <div class="content">
                	<p><img src="images/17.jpg" /></p>
                    <h3>个人展览</h3>
                    <p>1963年生，祖籍湖北武汉。美术学博士，中国美术家协会会员。曾获得江苏省50名优秀中青年艺术工作者、鲁迅版画奖章和教育部霍英东教学奖、江苏省青蓝工程学科带头人。</p>
                    <p>作品连续获得第七、八、九届全国美展铜奖及优秀奖，中国第十三届版画展金奖，并分别被中国美术馆、上海美术馆、广东美术馆、江苏省美术馆、英国大不列颠博物馆、英国维多利亚阿尔伯特博物馆、Ashmolean Museum, Oxford（英国.牛津）、Sotheby''''s Institute of Art, London（英国.伦敦）、纽约国立图书馆、日本福岗美术馆和欧洲木版画基金会等机构收藏。</p>
                    <h3>个人展览</h3>
                    <ul>
                    	<li>1996年在瑞士•日内瓦SAINT-LEGAR画廊举办"邱振中书法作品展"</li>
                    	<li>1998年参加在法国•巴黎索尔邦大学举办的"巴黎•中国当代书法艺术大会"</li>
                    	<li>1999年参加韩国汉城艺术中心的"99物波主义--当代书法艺术展"</li>
                    </ul>
                    <h3>个人画册</h3>
                    <ul>
                    	<li>1987年  安徽美术出版社出版《曹力装饰画》</li>
                    	<li>1988年  四川美术出版社出版《曹力速写集》</li>
                    	<li>1992年  湖南美术出版社出版《曹力作品》线描集</li>
                    	<li>1994年  香港索尼画廊出版《理想与现实》曹力油画集</li>
                    	<li>1995年  广西美术出版社出版《曹力》油画集</li>
                    </ul>
                    <h3>个人作品</h3>
                    <ul class="ul_work">
                    	<li>
                        	<h3><a href=""><img src="images/18.jpg" />陈琦《莲之舞》</a></h3>
                            <p>2003年     油画115X100cm</p>
                        </li>
                    	<li>
                        	<h3><a href=""><img src="images/19.jpg" />陈琦《梦蝶》</a></h3>
                            <p>2003年     油画115X100cm</p>
                        </li>
                    	<li>
                        	<h3><a href=""><img src="images/19.jpg" />陈琦《梦蝶》</a></h3>
                            <p>2003年     油画115X100cm</p>
                        </li>
                    	<li>
                        	<h3><a href=""><img src="images/18.jpg" />陈琦《莲之舞》</a></h3>
                            <p>2003年     油画115X100cm</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--}主体内容 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
