<div class="left">
	<ul class="ul_menu">
		<li class="on"><a href="">学院概况</a></li>
		<li><a href="">现任领导</a></li>
		<li><a href="">学科介绍</a></li>
		<li><a href="">历史回顾</a></li>
		<li><a href="">联系我们</a></li>
	</ul>
</div>
