<%provide(:title, '院系介绍')%>
	<!--主体 start{-->
	<div class="main">
        <!--内容 start{-->
        <div class="wid">
            <!--当前位置 start{-->
            <div class="weizhi">当前位置：<a href="">首页</a> > 学校概况</div>
            <!--}当前位置 end-->
            <!--主体内容 start{-->
            <div class="left">
            	<ul class="ul_menu">
                	<li><a href="">学科简介</a></li>
                	<li class="on"><a href="">院系介绍</a></li>
                	<li><a href="">师资队伍</a></li>
                	<li><a href="">各系教师</a></li>
                	<li><a href="">课程设置</a></li>
                	<li><a href="">特色专业</a></li>
                	<li><a href="">学生作品</a></li>
                </ul>
            </div>
            <div class="right">
            	<table border="0" cellspacing="1" cellpadding="0" class="table tab">
                  <tr>
                    <td class="on">油画系</td>
                    <td>国画系</td>
                    <td>雕塑系</td>
                  </tr>
                  <tr>
                    <td>书法系</td>
                    <td>设计系</td>
                    <td>壁画系</td>
                  </tr>
                  <tr>
                    <td>建筑系</td>
                    <td class="none">&nbsp;</td>
                    <td class="none">&nbsp;</td>
                  </tr>
                </table>
            	<div class="tab_div show">
                    <h2 class="tit">油画系介绍</h2>
                    <div class="content">
                        <p><img src="images/15.jpg" /></p>
                        <p>　　中央民族大学造型艺术研究所成立於2003年，以招收艺术创作实践类博士研究生为主，基本的教学理念则是培养学者型的艺术家以造就具有高尚人文情操和全面艺术人文修养并具有创作素质的高级艺术人才。现任主任为薛永年教授、副主任罗世平教授。</p>
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">国画系介绍</h2>
                    <div class="content">
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">雕塑系介绍</h2>
                    <div class="content">
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                        <p><img src="images/15.jpg" /></p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">书法系介绍</h2>
                    <div class="content">
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                        <p><img src="images/15.jpg" /></p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">设计系介绍</h2>
                    <div class="content">
                        <p><img src="images/15.jpg" /></p>
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">壁画系介绍</h2>
                    <div class="content">
                        <p>　　我部实践类博士生的教学实行导师组集体指导，按课题方向组织教学的方式进行。导师组由学院特聘的艺术成就卓著的实践类教授和在美术史论上有学术建树的教授组成。博士生在读期间实行学分制管理，按规定完成公共必修课（政治理论和第一、二外国语）、专业理论课（美术史论方法研读、西方思想文化典籍研读、中国思想文化典籍研读、当代美术创作与文化思潮等）及专业课（社会实践、创作研讨和教学实践）的课程，且通过专业作品评审和论文答辩后，方可授予博士学位，基本学制为三年。此外，我部还举办了高研班，以吸收更多有培养前途的人才，秉承着与实践类博士生一脉的教学思路。</p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                    </div>
                </div>
            	<div class="tab_div">
                    <h2 class="tit">建筑系介绍</h2>
                    <div class="content">
                        <p>　　我部自2003年开始招收实践类博士以来，迄今已有四届。专业方向涉及油画、中国画、版画、壁画、雕塑和书法。现有实践、理论类导师24人。在读博士生43人、高研班15人以及访问学者6人，学生来源包括中国大陆和港、澳、台地区以及国外留学生。</p>
                        <p>　　近年来，我部举行了多次学术活动，并於2006年、2007年与台湾院校进行了两次"五岳看山"海峡两岸研究生五岳文化考察写生及作品联展研讨活动。今后，造型艺术研究所将在学院全新的学科结构框架下探索完善实践类博士生的教学体系，在实践与理论、继承与发展相结合的教学原则的指导下，造就高层次的学者型美术人才。知名度和影响力，曾多次在国内外举办个人画展</p>
                    </div>
                </div>
            </div>
            <!--}主体内容 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
