<%provide(:title, '学院概述')%>
	<!--主体 start{-->
	<div class="main">
        <!--内容 start{-->
        <div class="wid">
            <!--当前位置 start{-->
            <div class="weizhi">当前位置：<a href="">首页</a> > 学校概况</div>
            <!--}当前位置 end-->
            <!--主体内容 start{-->
            <div class="left">
            	<ul class="ul_menu">
                	<li class="on"><a href="">学院概况</a></li>
                	<li><a href="">现任领导</a></li>
                	<li><a href="">学科介绍</a></li>
                	<li><a href="">历史回顾</a></li>
                	<li><a href="">联系我们</a></li>
                </ul>
            </div>
            <div class="right">
            	<h2 class="tit">学校概况</h2>
                <div class="content">
                	<p><img src="images/14.jpg" /></p>
               	    <p>　　中央民族大学是国家“211工程”、“985工程”建设的全国重点大学。中央民族大学美术学院是国家少数民族艺术重点学科基地，经过近五十年的发展，现已成为培养各民族高级美术专业人才的教育基地。
学院设有中国画、油画、美术教育、装潢设计、服装设计、环境艺术设计六个系，七个专业方向，1985年学院开始招收硕士研究生；2001年招收博士研究生。学院还建有一批专业实验工作室。</p>
					<p>　　学院现有一批在国内绘画界、设计界、学术界具有重要影响的名家、学者。近两年来，学院教师先后承担了十多项国家“211工程”建设项目或课题，出版、发表了大量的研究成果和艺术作品。特别是在少数民族传统美术的保护、研究以及少数民族艺术设计、少数民族题材的美术创作领域里取得了一系列丰硕的成果，其突出的成就是其他美术专业教学、研究机构不可替代的。</p>
                    <p>　　美术学院注重本科教育，积累了丰富的教学经验，形成了许多自己的教学特色。重视基本功训练，强调深入到少数民族地区体验生活，多年来，美术学院秉承严谨的学风和严格的管理制度，尊重美术教学的规律，注重对学生素质和创造能力的培养，已为国家培养大批优秀的毕业生，他们在全国各地成为各民族美术创作和教育事业的重要力量。仅近两年我院培养的本科生、研究生先后有几十位在全国美展及其它一些重大展览、设计比赛中荣获重要奖项。 </p>
                </div>
            </div>
            <!--}主体内容 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
