<%provide(:title, '学院概述')%>
	<!--主体 start{-->
	<div class="main">
        <!--内容 start{-->
        <div class="wid">
            <!--当前位置 start{-->
            <div class="weizhi">当前位置：<a href="">首页</a> > <a href="">学校概况</a> > 现任领导</div>
            <!--}当前位置 end-->
            <!--主体内容 start{-->
            <div class="left">
            	<ul class="ul_menu">
                	<li><a href="">学院概况</a></li>
                	<li class="on"><a href="">现任领导</a></li>
                	<li><a href="">学科介绍</a></li>
                	<li><a href="">历史回顾</a></li>
                	<li><a href="">联系我们</a></li>
                </ul>
            </div>
            <div class="right">
            	<h2 class="tit">现任领导</h2>
                <ul class="ul_lead">
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>学院书记</p>
                        <h3><a href="">何川</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>院长</p>
                        <h3><a href="">殷会利</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>副院长</p>
                        <h3><a href="">殷会利</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>副院长</p>
                        <h3><a href="">殷会利</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>学院书记</p>
                        <h3><a href="">何川</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>院长</p>
                        <h3><a href="">殷会利</a></h3>
                    </li>
                	<li>
                    	<p><a href=""><img src="images/16.jpg" /></a></p>
                        <p>副院长</p>
                        <h3><a href="">殷会利</a></h3>
                    </li>
                </ul>
                <table border="0" cellspacing="1" cellpadding="0" class="table">
                  <tr>
                    <td width="190">院党委办公室主任</td>
                    <td><a href="">于伟</a></td>
                  </tr>
                  <tr>
                    <td>副主体</td>
                    <td><a href="">袁江名</a></td>
                  </tr>
                  <tr>
                    <td>院教学办公室主任</td>
                    <td><a href="">史利华</a></td>
                  </tr>
                  <tr>
                    <td>主任科员</td>
                    <td><a href="">李爱民</a></td>
                  </tr>
                </table>
            </div>
            <!--}主体内容 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
