<% provide(:title, '头像设置') %>
<div class="main">
	<!--二级导航-->
	<div class="row-fluid">
		<%=render 'left_navigation'%>

		<div class="row">
		  <div class="span6 offset3">
		  </div>
		</div>
	</div><!--/row-->
</div>



