<p id="notice"><%= notice %></p>




<% provide(:title, '个人主页') %>

<div class="main">
  <div class="span6">
	<p>
	  <b>用户名:</b>
	  <%= @user.name %>
	</p>

	<p>
	  <b>邮箱:</b>
	  <%= @user.email %>
	</p>
  </div>
</div>
