<%provide(:title, '首页')%>
	<!--主体 start{-->
	<div class="main">
        <!--flash start{-->
        <div class="flash_diy">
        	<ul class="ul_flash">
            	<li><a href=""><%=image_tag '1.jpg'%></a></li>
            	<li><a href=""><%=image_tag '2.jpg'%></a></li>
            	<li><a href=""><%=image_tag '3.jpg'%></a></li>
            	<li><a href=""><%=image_tag '4.jpg'%></a></li>
            </ul>
        </div>
        <!--}flash end-->
        <!--内容 start{-->
        <div class="wid">
            <!--学院新闻 start{-->
            <div class="news">
            	<h2 class="title">学院新闻</h2>
                <div class="more"><a href="">更多</a></div>
                <ul class="ul_news">
                	<li>
                    	<h3><a href="">美术学院2012年学院奖提名展开幕</a></h3>
                        <em>2012.10.29</em>
                        <p>是一所专门培养少数民族高级美术专业人才为主的教学基地。1959年随着我国建设和各民族地区发展的需要，当时的中央民族学院决定建立艺术系美术学院2009年学院奖提名展于2009年10月15日我校...</p>
                    </li>
                	<li>
                    	<h3><a href="">百名将帅书画展</a></h3>
                        <em>2012.10.29</em>
                        <p>是一所专门培养少数民族高级美术专业人才为主的教学基地。1959年随着我国建设和各民族地区发展的需要，当时的中央民族学院决定建立艺术系美术学院2009年学院奖提名展于2009年10月15日我校...</p>
                    </li>
                	<li>
                    	<h3><a href="">北京2009俄罗斯当代油画家作品展</a></h3>
                        <em>2012.10.29</em>
                        <p>是一所专门培养少数民族高级美术专业人才为主的教学基地。1959年随着我国建设和各民族地区发展的需要，当时的中央民族学院决定建立艺术系美术学院2009年学院奖提名展于2009年10月15日我校...</p>
                    </li>
                	<li>
                    	<h3><a href="">百名将帅书画展</a></h3>
                        <em>2012.10.29</em>
                        <p>是一所专门培养少数民族高级美术专业人才为主的教学基地。1959年随着我国建设和各民族地区发展的需要，当时的中央民族学院决定建立艺术系美术学院2009年学院奖提名展于2009年10月15日我校...</p>
                    </li>
                	<li>
                    	<h3><a href="">美术学院2012年学院奖提名展开幕</a></h3>
                        <em>2012.10.29</em>
                        <p>是一所专门培养少数民族高级美术专业人才为主的教学基地。1959年随着我国建设和各民族地区发展的需要，当时的中央民族学院决定建立艺术系美术学院2009年学院奖提名展于2009年10月15日我校...</p>
                    </li>
                </ul>
            </div>
            <!--}学院新闻 end-->
            <!--最新活动 start{-->
            <div class="play">
            	<h2 class="title">最新活动</h2>
                <div class="more"><a href="">更多</a></div>
                <ul class="ul_play">
                	<li><h3><a href=""><img src="images/5.jpg" />中央民族大学美术学院成立50周年师生作品展</a></h3></li>
                	<li><h3><a href=""><img src="images/6.jpg" />中央民族大学美术学院成立50周年师生作品展</a></h3></li>
                </ul>
            </div>
            <!--}最新活动 end-->
            <!--学院丛书 start{-->
            <div class="books">
            	<h2 class="title">学院丛书</h2>
                <div class="more"><a href="">更多</a></div>
                <ul class="ul_books">
                	<li>
                    	<em><a href=""><img src="images/11.jpg" /></a></em>
                        <h3><a href="">中国民族美术</a></h3>
                        <p>唐卡的艺术特色,谈民族建筑保护的整体策略与发展思路,西域思路主题美术创作与国家少数民族形象塑造关系初探…</p>
                        <div class="readmore"><a href="">Read More</a></div>
                    </li>
                	<li>
                    	<em><a href=""><img src="images/12.jpg" /></a></em>
                        <h3><a href="">中国民族美术</a></h3>
                        <p>唐卡的艺术特色,谈民族建筑保护的整体策略与发展思路,西域思路主题美术创作与国家少数民族形象塑造关系初探…</p>
                        <div class="readmore"><a href="">Read More</a></div>
                    </li>
                	<li>
                    	<em><a href=""><img src="images/11.jpg" /></a></em>
                        <h3><a href="">中国民族美术</a></h3>
                        <p>唐卡的艺术特色,谈民族建筑保护的整体策略与发展思路,西域思路主题美术创作与国家少数民族形象塑造关系初探…</p>
                        <div class="readmore"><a href="">Read More</a></div>
                    </li>
                </ul>
            </div>
            <!--}学院丛书 end-->
            <!--学院新作 start{-->
            <div class="works">
            	<h2 class="title">学院新作</h2>
                <div class="more"><a href="">更多</a></div>
                <ul class="ul_works">
                	<li><h3><a href=""><img src="images/7.jpg" />《出青海》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/8.jpg" />《凤凰岭》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/9.jpg" />《青海一方》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/10.jpg" />《香格里拉》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/7.jpg" />《出青海》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/8.jpg" />《凤凰岭》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/9.jpg" />《青海一方》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/10.jpg" />《香格里拉》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/7.jpg" />《凤凰岭》 陈逸青</a></h3></li>
                	<li><h3><a href=""><img src="images/8.jpg" />《青海一方》 陈逸青</a></h3></li>
                </ul>
            </div>
            <!--}学院新作 end-->
        </div>
        <!--}内容 end-->
    </div>
	<!--}主体 end-->
