<%=provide(:title, '后台首页')%>
	<span class="blank10"></span>
	<%=render "admin/base/left_bar"%>
	
    <div class="span10">
      <!--Body content-->

          <div class="page-header">
            <h1>Global settings</h1>
          </div>



    </div>
  </div>
